<%- include('../../shared/includes/head', {Pagetitle: 'Sucess'}) %>
  <link rel="stylesheet" href="/styles/order.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order was sucessful!</h1>
    <p>You can visit <a href="/orders">the orders page</a> for more detail!</p>
  </main>
<%- include('../../shared/includes/footer') %>  